.visibility--visible {
	visibility: visible !important;
}

.visibility--hidden {
	visibility: hidden !important;
}

.visibility--collapse {
	visibility: collapse !important;
}

.visibility--inherit {
	visibility: inherit !important;
}

.visibility--initial {
	visibility: initial !important;
}